@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
/* @import '~@blueprintjs/icons/lib/css/blueprint-icons.css'; */

.app {
  font-size: 1.4rem;
  margin: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}

.input {
  font-size: 1.2rem;
  height: 300px !important;
}

.output pre {
  font-size: 1.2rem;
  line-height: normal !important;
}

.footer {
  text-align: right;
  padding-top: 2rem;
}

.dragover {
  background-color: greenyellow;
}
